<div class="red">
  <div *ngIf="basicaData.length > 0; else noData">
    <ul>
      <li *ngFor="let item of basicaData">
        <strong>Name:</strong> {{ item.name }}, <strong>Years:</strong>
        {{ item.years }}
      </li>
    </ul>
  </div>
  <ng-template #noData>
    <p>No hay datos disponibles.</p>
  </ng-template>

  <form [formGroup]="formBasico" (submit)="send()" class="form1">
    <div>
      <h2>Formulario Basico</h2>
      <div>
        <input
          placeholder="Name"
          type="text"
          id="name"
          formControlName="name"
        />
        <div
          *ngIf="
            formBasico.get('name')?.invalid &&
            (formBasico.get('name')?.dirty || formBasico.get('name')?.touched)
          "
          class="error"
        >
          <p *ngIf="formBasico.get('name')?.errors?.['required']">
            El nombre es requerido.
          </p>
        </div>
      </div>

      <div>
        <input
          type="number"
          id="years"
          formControlName="years"
          placeholder="years"
        />
        <div
          *ngIf="
            formBasico.get('years')?.invalid &&
            (formBasico.get('years')?.dirty || formBasico.get('years')?.touched)
          "
          class="error"
        >
          <p *ngIf="formBasico.get('years')?.errors?.['required']">
            La edad es requerida.
          </p>
          <p *ngIf="formBasico.get('years')?.errors?.['min']">
            Debe ser al menos 18 años.
          </p>
        </div>
      </div>

      <div>
        <!-- Muestra el div de éxito si el formulario es válido -->
        <div class="succes" *ngIf="formBasico.valid">
          <p>Ya se puede enviar.</p>
        </div>

        <!-- Muestra el div de error si el formulario no es válido -->
        <div class="error" *ngIf="!formBasico.valid">
          <p>Falta algo.</p>
        </div>
      </div>

      <div>
        <button [disabled]="formBasico.invalid" class="buttonCreate">
          Agregar
        </button>
        <button [disabled]="formBasico.invalid" class="buttonDelete">
          Agregar
        </button>
      </div>
      <span>{{formResponse}}</span>
    </div>
  </form>
</div>
