:host {
  display: block;
}
/* Estilos generales para ng-select */
ng-select {
  background-color: transparent;
  color: white;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 1em;
  width: 80%;
  max-width: 400px;
  margin: 10px;
}
