:host {
  display: block;
}

.LoginStyle {
  background-color: var(--basicBackground);
  color: white;
  min-height: calc(100vh - 52px);
  padding: 10px 0px 50px 0px; /* top right bottom left */
  margin: auto;
}
