/* You can add global styles to this file, and also import other style files */
/* ----------------------------------------------------- */
/* cosas basicas de toda la app */
/* ----------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
}

button:active {
  transform: scale(0.8); /* Aplica la escala cuando se presiona el botón */
}

/* ----------------------------------------------------- */
/* form perzonalizado numero 1  */
/* ----------------------------------------------------- */

.form1 {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: #171717;
  border-radius: 25px;
  color: white;
  margin: auto;
  text-align: center;
  padding: 0;
}

.form1 select {
  background-color: transparent;
  color: white;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 1em;
  width: 80%;
  max-width: 400px;
  box-shadow: inset 25px 15px 15px rgb(0, 0, 0);
}
.form1 select option {
  color: black;
}

.form1 input {
  background-color: transparent;
  color: white;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 1em;
  width: 80%;
  max-width: 400px;
  box-shadow: inset 25px 15px 15px rgb(0, 0, 0);
}

.form1 input::placeholder {
  color: rgb(194, 170, 170);
}

.form1 input:focus::placeholder {
  color: rgb(255, 255, 255);
}

.form1 textarea {
  background-color: transparent;
  color: white;
  padding: 15px;
  margin-bottom: 1em;
  width: 80%;
  max-width: 400px;
  height: 100px;
}

.form1 h2 {
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

@media (min-width: 600px) {
  .form1 {
    width: 500px;
  }
}

@media (min-width: 300px) and (max-width: 600px) {
  .form1 {
    width: 80%;
  }
}

@media (max-width: 300px) {
  .form1 {
    width: 98%;
  }
}

/* ----------------------------------------------------- */
/* para button*/
/* ----------------------------------------------------- */

.buttonCreate {
  max-width: 200px;
  padding: 10px;
  border-radius: 10px;
  width: auto;
  color: white;
  background-color: rgb(19, 19, 243);
}

.buttonCreate:hover {
  background-color: black;
  color: white;
}

.buttonDelete {
  max-width: 200px;
  padding: 10px;
  border-radius: 10px;
  width: auto;
  color: white;
  background-color: rgb(245, 45, 10);
}

.buttonDelete:hover {
  background-color: black;
  color: white;
}
/* ----------------------------------------------------- */
/* para mensajes de error */
/* ----------------------------------------------------- */

.error p {
  display: inline-block;
  background: #ef665b;
  border-radius: 8px;
  padding: 10px 12px;
  max-width: 80%;
}
.error p::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none"><path fill="%23ffffff" d="m13 13h-2v-6h2zm0 4h-2v-2h2zm-1-15c-1.3132 0-2.61358.25866-3.82683.7612-1.21326.50255-2.31565 1.23915-3.24424 2.16773-1.87536 1.87537-2.92893 4.41891-2.92893 7.07107 0 2.6522 1.05357 5.1957 2.92893 7.0711.92859.9286 2.03098 1.6651 3.24424 2.1677 1.21325.5025 2.51363.7612 3.82683.7612 2.6522 0 5.1957-1.0536 7.0711-2.9289 1.8753-1.8754 2.9289-4.4189 2.9289-7.0711 0-1.3132-.2587-2.61358-.7612-3.82683-.5026-1.21326-1.2391-2.31565-2.1677-3.24424-.9286-.92858-2.031-1.66518-3.2443-2.16773-1.2132-.50254-2.5136-.7612-3.8268-.7612z"></path></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-2px);
}

.succes p {
  display: inline-block;
  background: #84d65a;
  border-radius: 8px;
  padding: 10px 12px;
  max-width: 80%;
}
.succes p::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m12 1c-6.075 0-11 4.925-11 11s4.925 11 11 11 11-4.925 11-11-4.925-11-11-11zm4.768 9.14c.0878-.1004.1546-.21726.1966-.34383.0419-.12657.0581-.26026.0477-.39319-.0105-.13293-.0475-.26242-.1087-.38085-.0613-.11844-.1456-.22342-.2481-.30879-.1024-.08536-.2209-.14938-.3484-.18828s-.2616-.0519-.3942-.03823c-.1327.01366-.2612.05372-.3782.1178-.1169.06409-.2198.15091-.3027.25537l-4.3 5.159-2.225-2.226c-.1886-.1822-.4412-.283-.7034-.2807s-.51301.1075-.69842.2929-.29058.4362-.29285.6984c-.00228.2622.09851.5148.28067.7034l3 3c.0983.0982.2159.1748.3454.2251.1295.0502.2681.0729.4069.0665.1387-.0063.2747-.0414.3991-.1032.1244-.0617.2347-.1487.3236-.2554z" fill="%23ffffff" fill-rule="evenodd"></path></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-2px);
}

.info p {
  display: inline-block;
  background: #509af8;
  border-radius: 8px;
  padding: 10px 12px;
  max-width: 80%;
}
.info p::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none"><path fill="%23ffffff" d="m13 13h-2v-6h2zm0 4h-2v-2h2zm-1-15c-1.3132 0-2.61358.25866-3.82683.7612-1.21326.50255-2.31565 1.23915-3.24424 2.16773-1.87536 1.87537-2.92893 4.41891-2.92893 7.07107 0 2.6522 1.05357 5.1957 2.92893 7.0711.92859.9286 2.03098 1.6651 3.24424 2.1677 1.21325.5025 2.51363.7612 3.82683.7612 2.6522 0 5.1957-1.0536 7.0711-2.9289 1.8753-1.8754 2.9289-4.4189 2.9289-7.0711 0-1.3132-.2587-2.61358-.7612-3.82683-.5026-1.21326-1.2391-2.31565-2.1677-3.24424-.9286-.92858-2.031-1.66518-3.2443-2.16773-1.2132-.50254-2.5136-.7612-3.8268-.7612z"></path></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-2px);
}
