/* You can add global styles to this file, and also import other style files */
/* ----------------------------------------------------- */
/* cosas basicas de toda la app */
/* ----------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
}

button:active {
  transform: scale(0.8); /* Aplica la escala cuando se presiona el botón */
}

/* ----------------------------------------------------- */
/* form perzonalizado numero 1  */
/* ----------------------------------------------------- */

.form1 {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: #171717;
  border-radius: 25px;
  color: white;
  margin: auto;
  text-align: center;
  padding: 0;
}

.form1 select {
  background-color: transparent;
  color: white;
  border-radius: 25px;
  padding: 5px;
  margin-bottom: 1em;
  width: 90%;
  max-width: 400px;
}
.form1 select option {
  color: black;
}

.form1 input {
  background-color: transparent;
  color: white;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 1em;
  width: 90%;
  max-width: 400px;
}

.form1 input::placeholder {
  color: rgb(194, 170, 170);
}

.form1 input:focus::placeholder {
  color: rgb(255, 255, 255);
}

.form1 textarea {
  background-color: transparent;
  color: white;
  padding: 15px;
  margin-bottom: 1em;
  width: 90%;
  max-width: 400px;
  height: 100px;
}

.form1 h2 {
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.form1 button {
  margin: 1em;
  max-width: 200px;
  padding: 10px;
  border-radius: 10px;
  width: auto;
}

.buttonCreate {
  color: white;
  background-color: rgb(19, 19, 243);
}

.buttonCreate:hover {
  background-color: black;
  color: white;
}

.buttonDelete {
  color: white;
  background-color: rgb(245, 45, 10);
}

.buttonDelete:hover {
  background-color: black;
  color: white;
}

@media (min-width: 1000px) {
  .form1 {
    width: 700px;
  }
}

@media (min-width: 300px) and (max-width: 1000px) {
  .form1 {
    width: 80%;
  }
}

@media (max-width: 300px) {
  .form1 {
    width: 98%;
  }
}

/* ----------------------------------------------------- */
/* para mensajes de error */
/* ----------------------------------------------------- */

.error p {
  display: inline-block;
  background: #ef665b;
  border-radius: 8px;
  padding: 10px 12px; /* Ajusta el padding para dar algo de espacio al texto */
}
.error p::before {
  content: "⚠️"; /* Unicode para el ícono de exclamación */
  display: inline-block;
  margin-right: 8px; /* Espacio entre el ícono y el texto */
  font-size: 1em; /* Ajusta el tamaño del ícono */
}
