:host {
  display: block;
}

:root {
  --color2: #3700ff;
  --color3: #ff00ff;
  --basicBackground: #171717;
  --shadowColor: #131212;
}

.StrategicPlanStyle {
  background-color: var(--basicBackground);
  color: white;
  min-height: calc(100vh - 52px);
  padding: 20px 50px;
}

.StrategicContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.rowStrategicPlan {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  min-height: 10rem;
}

.title,
.value {
  width: 50%;
  margin: 0;
  padding: 0 5%;
  box-sizing: border-box;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  /* background: linear-gradient(190deg, var(--color2), var(--color3)); */
  /* background-color: var(--color2); */
  text-align: center; /* Centra el texto en la columna de título */
  overflow-wrap: break-word;
  border-radius: 22px;
  border: 1px solid var(--color2);
}

.value {
  font-size: 1rem;
  color: rgb(241, 241, 241);
  text-align: center; /* Centra el texto en la columna de valor */
  overflow-wrap: break-word;
}

.cuadro1 {
  width: 100%;
  background-color: rgb(29, 25, 25);
}

.cuadro2 {
  width: 100%;
  background-color: rgb(11, 12, 11);
}
